/* MAIN */

.form__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 130px 0px;
    gap: 10px;
    width: 40%;
    height: 400px;
    border-radius: 10px;
    background: #1f1f1f;
    /* padding: 50px 15px; */
}

.form__container h1 {
    font-size: 18px;
    margin-bottom: 25px;
    font-weight: 800;
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.form__input {
  padding: 15px 35px 15px 15px;
  border-radius: 8px;
  background-color: white;
  color: black;
  outline: none;
  border: none;
  font-family: sans-serif;
}

.form__btn{
  background: #333399;
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px 10px;
  font-family: sans-serif;
  cursor: pointer;
  color: black;
  font-weight: 500;
  margin-top: 15px;
  transition: all 1s;
}

.form__container--login {
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 130px 0px;
    gap: 10px;
    width: 40%;
    height: 360px;
    border-radius: 10px;
    background: #1f1f1f;
    /* padding: 50px 15px; */
}

.form__container--login h1 {
    font-size: 17px;
    margin-bottom: 25px;
    font-weight: 800;
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
/* MAIN */