@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins:wght@100&family=Roboto:wght@100&display=swap');

:root {

    --background: rgb(0, 0, 0);
    --header: rgb(50, 18, 122);
}

    


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Poppins", "sans-serif";
}

html {
    scroll-padding-top: 130px;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

/* HEADER */

.header{
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0px 20px;
    position: fixed;
    top: 0;
    /* box-shadow: rgb(139, 11, 75) 0px 8px 24px; */
    z-index: 1;
}

.header__img--logo-store {
    height: 87%;
    padding: 2px 8px;
}

.header__navbar {
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header__navbar__navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
} 

.header__navbar--hamburger {
    font-size: 36px;
    display: none;
}

.header--access {
    font-size: 20px;
    display: none;
}

#toggle-menu{
    display: none;
}

#user-access{
    display: none;
}

.header__navbar__navbar-list {
    gap: 35px;
}

.header__navbar__navbar-list a {
    color: black;
    font-size: 20px;
    font-weight: 900;
}

.header__navbar__login {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 2px 8px;
}

.header__navbar__login a {
    color: black;
    font-size: 15px;
    font-weight: 800;
}


.openMenu {
    display: flex;
}
/* Carrito */

.cartLabel {
    display: flex;
    align-items: center;
    justify-content: center;
}

#cartToggle {
    display: none;
}

.carrito { 
  position: absolute;
  top: 65px;
  right: 0;
  padding: 30px 90px;
  background: black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: calc(100vh - 40px);
  z-index: 2;
  overflow-y: scroll;
  display: none;
  border-left: 1px solid purple;
}

.carrito::-webkit-scrollbar {
    display: none;
}

.carrito h2 {
    color: white;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 10px;
  }

.prodContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.msgVacio {
    font-size: 10px;
    color: white;
}

.productCard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  border-radius: 10px;
  width: 250px;
  background: #f1f1;
  padding: 10px;
}

.productCard img {
  width: 95%;
  border-radius: 10px;
}

.productInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  text-align: center;
}

.productName {
  font-size: 12px;
  font-weight: 800;
  color: white;
}

.productPriceTitle {
  font-size: 10px;
  text-align: center;
}

.productPrice {
  font-size: 11px;
  font-weight: 800;
}

.productCuantity {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 10px;
}

.Number {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 10px;
  border-radius: 5px;
  font-weight: 800;
  font-size: 12px;
}

.resta {
  background: var(--thirdtext);
  border: 1px solid white;
  cursor: pointer;
  font-size: 10px;
  color: white;
}

.suma {
  background: var(--thirdtext);
  border: 1px solid white;
  cursor: pointer;
  font-size: 10px;
  color: white;
}

.dividerLine {
  margin-top: 20px;
  border: 2px solid purple;
  border-radius: 10px;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.total p, span {
  color: white;   
  font-size: 20px;
  font-weight: 800;
}

.totalCont {
  font-size: 17px;
  font-weight: 600;
}

.btnComprar {
  color: white;
  font-weight: 700;
  font-size: 15px;
  border: 1px solid transparent;
  width: 150px;
  text-align: center;
  border-radius: 4px;
  background-color: purple;
  padding: 3px 5px;
  align-self: center;
  cursor: pointer;
}

.btnBorrar {
  color: white;
  font-weight: 700;
  font-size: 15px;
  border: 1px solid transparent;
  width: 150px;
  text-align: center;
  border-radius: 4px;
  background-color: purple;
  padding: 3px 5px;
  align-self: center;
  cursor: pointer;
}

#cartToggle {
  display: none;
}


/* openCart */
.openCart {
    display: flex;
}
/* openCart */


/* Carrito */


/* Disabled*/


.disabled {
    cursor: not-allowed;
    background-color:grey;
    border: none;
}


/* Disabled */


/* HEADER */

/* MAIN */

main {
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    max-width: 1200px;
    /* margin-top: 65px; */
}

.hero {
    margin-top: 65px;
    margin-bottom: 110px;
    /* padding: 20px; */
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__info {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 50%;
    /* border-radius: 1rem; */
}

.hero__info h1 {
    font-size: 48px;
    width: 80%;
    min-width: 500px;
    font-weight: 800;
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.hero__info p{
    font-size: 17px;
    width: 70%;
    text-align:left;
}

.hero__portada__user_access {
    display: flex;
    gap: 15px;
}

.hero__portada__user_access--a {
    color: whitesmoke;
    background: #333399;
    width: 120px;
    padding: 8px 0px;
    border-radius: 1rem;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    transition: all 1s;
}

.hero__hero-container{
    display: flex;
    justify-content: center;
    padding: 15px 0px 0px 0px;
}

.hero__hero-container--img {
    width: 85%;
}

/* BENEFICIOS */

.benefits {
    /* padding-top: 145px; */
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 115px;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 110px;
}
   


.benefit__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    gap: 30px;
    flex-wrap: wrap;
}

.benefit__container_cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: #f1f1;
    gap: 15px;
    padding: 10px;
    height: 325px;
    width: 300px;
    transition: all 1s;
}

.benefit__container_cards img {
    width: 33%;
    border: 5px solid rebeccapurple;
    border-radius: 50px;
    background: rebeccapurple;
}

.benefit__container_cards--atencion_cliente {
    font-size: 16px;
    text-align: center;
}

.benefit__container_cards--descuento {
    font-size: 15px;
    text-align: center;
}
    

/* BENEFICIOS */


/* MERCANCIA */
.product {
    margin-top: 115px;
    margin-bottom: 110px;
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
    max-width: 1200px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    gap: 15px;
}

.product h2 {
    text-align: center;
    margin-bottom: 40px;
}

.categories {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.category {
    border-radius: 10px;
    width: 85px;
    height: 45px;
    background-color: #333399;
    color: white;
    font-weight: 900;
    font-size: small;
    cursor: pointer;
}

.act {
    background:#c471ed;
    color: white;
    border: 1px solid var(--background);
    transition: all 0.3s ease;
  }

.product__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 40px 0;
  max-width: 1200px;
}

.product__container__card {
    border-radius: 10px;
    background: #f1f1;
    padding: 15px 10px 10px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    transition: all 1s;
}



.merch--imgsep {
    height: 222px;
    width: 275px;
    border-radius: 10px;
    border: 5px solid rebeccapurple;
}

.product__container__card__info {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    gap: 5px;
}

.product__container__card__info__top {
    display: flex;
    /* justify-content: center; */
    align-items:baseline;
    gap: 10px;
    font-size: 13px;
}

/* .merch__info__mid {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.product__container__card__info__mid p {
    font-weight: 700;
    font-size: 14px;
}
.product__container__card__info__bot {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.product__container__card__info__bot__price {
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    font-weight: 900;
    font-size: 20px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.product__container__card__info__bot--btnadd {
    border-radius: 10px;
    background: #333399;
    font-size: 15px;
    font-weight: 800;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 1s;
    color: whitesmoke;
}


/* MERCANCIA */

/* CONTACTANOS */
.contactanos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 60px;
    margin-top: 115px;
    margin-bottom: 110px;
    width: 100%;
}

.storeimg{
    border-radius: 10px;
    width: 50%;
}

.contactanos__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color:#f1f1;
    padding: 20px;
    border-radius: 10px;
    gap: 20px;
}

.contactanos__container__local {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* CONTACTANOS */

/* FOOTER */
.footer {
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    /* box-shadow: rgb(139, 11, 75) 0px 8px 24px; */
    gap: 20px;
}

.footer__redes-sociales {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__redes-sociales__iconos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.icon {
    cursor: pointer;
}

.modal-msg {
    display: flex;
    padding: 5px 0px;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    color: var black;
    background: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    transition: all 0.3s ease-out;
    transform: translateY(200%);
    font-weight: 800;
    z-index: 2;
}

.modalActiv {
    transform: translateY(0);
    transition: all 0.3s ease-in;
}  

/* FOOTER */

/* MAIN */